@model EstimativaColheita.Models.TalhaoModel

@{
    ViewData["Title"] = "Talhões";
}

<div class="card">
    <div class="header-card">
        @if (Model.Id == 0) { <text>&nbsp;&nbsp;Adicionar registro</text> } 
        else { <text>&nbsp;&nbsp;Editar registro</text> }
    </div>
    <div class="body-card-create">
        <form id="frmTalhao" class="row g-3 needs-validation" novalidate asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="col-md-2">
                <label class="form-label">Código</label>
                @if (Model.Id == 0)
                {
                    <input asp-for="CodigoInterno" type="number" min='1' class="form-control form-control-sm" required />
                    <div class="invalid-feedback">Código inválido.</div>
                }
                else
                {
                    <input asp-for="CodigoInterno" type="number" class="form-control form-control-sm" readonly />
                }
            </div>
            <div class="col-md-5">
                <label class="form-label">Plantio</label>
                <input asp-for="AnoPlantio" type="number" min='1' class="form-control form-control-sm" required />
                <div class="invalid-feedback">Informe o ano do plantio.</div>
            </div>
            <div class="col-md-5">
                <label class="form-label">Pés</label>
                <input asp-for="QuantidadePes" type="number" min='1' class="form-control form-control-sm" required />
                <div class="invalid-feedback">Informe a quantidade de pés.</div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Contrato</label>
                @if (Model.Id == 0) 
                {
                    <select asp-for="IdContrato" class="form-select form-select-sm" asp-items="ViewBag.IdContrato" required>
                        <option value="" disabled selected>Selecione...</option>
                    </select>
                    <div class="invalid-feedback">Informe o contrato.</div>
                }
                else 
                {
                    <select asp-for="IdContrato" class="form-select form-select-sm" asp-items="ViewBag.IdContrato" disabled />
                } 
            </div>            
            <div class="col-md-6">
                <label class="form-label">Variedade</label>
                <select asp-for="IdVariedade" class="form-select form-select-sm" asp-items="ViewBag.IdVariedade" required>
                    <option value="" disabled selected>Selecione...</option>
                </select>
                <div class="invalid-feedback">Informe a variedade.</div>
            </div>
        </form>
    </div>
    <div class="footer-card-bottons-details">
        <div class="col-md-12">
            <button form="frmTalhao" type="submit" class="btn btn-orange btn-sm"><i class="fa-solid fa-square-check"></i>&nbsp;Salvar</button>
            <a class="btn btn-outline-transparent btn-sm" asp-action="Index"><i class="fa-solid fa-ban"></i>&nbsp;Cancelar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}