@model EstimativaColheita.Models.TalhaoModel

@{
    ViewData["Title"] = "Talhões";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        @if (Model.Id == 0) { <text><h6 card-title>Adicionar registro</h6></text> } 
        else { <text><h6 card-title>Editar registro</h6></text> }
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="col-md-2">
                <label asp-for="CodigoInterno" class="control-label"></label>
                @if (Model.Id == 0) { <input asp-for="CodigoInterno" class="form-control form-control-sm" type="number" min='0' /> }
                else { <input asp-for="CodigoInterno" class="form-control form-control-sm" type="number" min='0' readonly /> }
                <span asp-validation-for="CodigoInterno" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="AnoPlantio" class="control-label"></label>
                <input asp-for="AnoPlantio" class="form-control form-control-sm" type="number" min='0' />
                <span asp-validation-for="AnoPlantio" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="QuantidadePes" class="control-label"></label>
                <input asp-for="QuantidadePes" class="form-control form-control-sm" type="number" min='0' />
                <span asp-validation-for="QuantidadePes" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Contrato.DescricaoCompleta" class="control-label"></label>
                @if (Model.Id == 0) { <select asp-for="IdContrato" class="form-select form-select-sm" asp-items="ViewBag.IdContrato"></select> }
                else { <select asp-for="IdContrato" class="form-select form-select-sm" asp-items="ViewBag.IdContrato" disabled></select> } 
            </div>            
            <div class="col-md-6">
                <label asp-for="Variedade.DescricaoCompleta" class="control-label"></label>
                <select asp-for="IdVariedade" class="form-select form-select-sm" asp-items="ViewBag.IdVariedade">
                    <option value="">Selecione...</option>
                </select>
            </div>
            <div class="col-md-12">
                <div class="btn-group">
                    <input class="btn btn-outline-success btn-sm" type="submit" value="Salvar" />
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}