@model EstimativaColheita.Models.VariedadeModel

@{
    ViewData["Title"] = "Variedades";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        @if (Model.Id == 0) { <text><h6 card-title>Adicionar registro</h6></text> } 
        else { <text><h6 card-title>Editar registro</h6></text> }
    </div>
    <div class="card-body">
        <form asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="CodigoInterno" class="control-label"></label>
                <input asp-for="CodigoInterno" class="form-control form-control-sm" />
                <span asp-validation-for="CodigoInterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control form-control-sm" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <hr />
            <div class="btn-group">
                <input class="btn btn-outline-success btn-sm" type="submit" value="Salvar" />
                <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="card-footer"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}