@model EstimativaColheita.Models.EstimativaMotivoModel

@{
    ViewData["Title"] = "Motivos";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        @if (Model.Id == 0) { <text><h6 card-title>Adicionar registro</h6></text> } 
        else { <text><h6 card-title>Editar registro</h6></text> }
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="col-md-12">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control form-control-sm" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>            
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Salvar</button>
                <a class="btn btn-outline-secondary btn-sm" asp-action="Index"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}