@model EstimativaColheita.Models.EstimativaMotivoModel

@{
    ViewData["Title"] = "Motivos";
}

<div class="card">
    <div class="header-card">
        @if (Model.Id == 0) { <text>&nbsp;&nbsp;Adicionar registro</text> } 
        else { <text>&nbsp;&nbsp;Editar registro</text> }
    </div>
    <div class="body-card-create">
        <form class="row g-3" asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="col-md-12">
                <label class="form-label">Descrição</label>
                <input asp-for="Descricao" type="text" class="form-control form-control-sm" required />
                <div class="invalid-feedback">Informe a descrição.</div>
            </div>
        </form>
    </div>
    <div class="footer-card-bottons-details">
        <div class="col-md-12">
            <button type="submit" class="btn btn-orange btn-sm"><i class="fa-solid fa-square-check"></i>&nbsp;Salvar</button>
            <a class="btn btn-outline-transparent btn-sm" asp-action="Index"><i class="fa-solid fa-ban"></i>&nbsp;Cancelar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}