@{
    ViewData["Title"] = "Sobre";
}
<center>
    <p><h5><b>-- Estimativa de colheita --</b></h5></p>

    <b>- IDE:</b> Visual Studio 2022;<br />
    <b>- Database:</b> SQL Server Management Studio 18;<br />
    <b>- Back-end:</b> Entity Framework Core 6.0;<br />
    <b>- Front-end:</b> Razor C#/Arquitetura MVC;<br />
</center>
