@{
    ViewData["Title"] = "Sobre";
}
<center>
    <ul class="list-group">
        <li class="list-group-item border-0"><i class="fa-solid fa-laptop-code"></i>&nbsp; Visual Studio 2022</li>
        <li class="list-group-item border-0"><i class="fa-solid fa-database"></i>&nbsp; SQL Server Management Studio 18</li>
        <li class="list-group-item border-0"><i class="fa-solid fa-file-code"></i>&nbsp; Entity Framework Core 6.0 | Migration</li>
        <li class="list-group-item border-0"><i class="fa-solid fa-code"></i>&nbsp; Arquitetura MVC | Razor C# | HTML | CSS | Booststrap | JavaScript</li>
        <li class="list-group-item border-0">
            <a href="https://www.linkedin.com/in/natan-magusso-5791b298/" target="_blank"><i class="fa-brands fa-linkedin fa-2x" style="color:black"></i></a>&nbsp;&nbsp;
            <a href="https://github.com/natanmagusso" target="_blank"><i class="fa-brands fa-github fa-2x" style="color:black"></i></a>
        </li>
    </ul>
</center>
