@{
    ViewData["Title"] = "Sobre";
}
<center>
    <ul class="list-group">
        <li class="list-group-item border-0"><h5>Estimativa de colheita</h5></li>
        <li class="list-group-item border-0"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp; Visual Studio 2022</li>
        <li class="list-group-item border-0"><i class="fa fa-database" aria-hidden="true"></i>&nbsp; SQL Server Management Studio 18</li>
        <li class="list-group-item border-0"><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp; Entity Framework Core 6.0</li>
        <li class="list-group-item border-0"><i class="fa fa-code" aria-hidden="true"></i>&nbsp; Razor C# / Arquitetura MVC</li>
        <li class="list-group-item border-0">
            <a href="https://www.linkedin.com/in/natan-magusso-5791b298/"><i class="black fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/natanmagusso"><i class="black fa fa-github fa-2x" aria-hidden="true"></i></a>
        </li>
    </ul>
</center>
