@model EstimativaColheita.Models.ColheitaRealizadaModel

@{
    ViewData["Title"] = "Create";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Adicionar registro</h6>
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>-->
            <div class="col-md-2">
                <label asp-for="Caixas" class="control-label"></label>
                <input asp-for="Caixas" class="form-control form-control-sm" />
                <span asp-validation-for="Caixas" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="IdContrato" class="control-label"></label>
                <select asp-for="IdContrato" class ="form-select form-select-sm" asp-items="ViewBag.IdContrato"></select>
            </div>
            <div class="col-md-5">
                <label asp-for="IdTalhao" class="control-label"></label>
                <select asp-for="IdTalhao" class ="form-select form-select-sm" asp-items="ViewBag.IdTalhao"></select>
            </div>
            <div class="col-md-12">
                <label asp-for="IdEncarregado" class="control-label"></label>
                <select asp-for="IdEncarregado" class ="form-select form-select-sm" asp-items="ViewBag.IdEncarregado"></select>
            </div>
            <div class="col-md-12">
                <div class="btn-group">
                    <input class="btn btn-outline-success btn-sm" type="submit" value="Salvar" />
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<h1>Create</h1>

<h4>ColheitaRealizadaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caixas" class="control-label"></label>
                <input asp-for="Caixas" class="form-control" />
                <span asp-validation-for="Caixas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdContrato" class="control-label"></label>
                <select asp-for="IdContrato" class ="form-control" asp-items="ViewBag.IdContrato"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTalhao" class="control-label"></label>
                <select asp-for="IdTalhao" class ="form-control" asp-items="ViewBag.IdTalhao"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEncarregado" class="control-label"></label>
                <select asp-for="IdEncarregado" class ="form-control" asp-items="ViewBag.IdEncarregado"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
