@model EstimativaColheita.Models.ColheitaRealizadaModel

@{
    ViewData["Title"] = "Apontamentos";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Adicionar registro</h6>
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>-->
            <div class="col-md-2">
                <label class="control-label">Caixas</label>
                <input asp-for="Caixas" class="form-control form-control-sm" type="number" min='0' />
                <span asp-validation-for="Caixas" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <label class="control-label">Turma</label>
                <select asp-for="IdEncarregado" class="form-select form-select-sm" asp-items="ViewBag.IdEncarregado">
                    <option value="" disabled selected>Selecione...</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label">Contrato</label>
                <select asp-for="IdContrato" id="IdConAp" class="form-select form-select-sm" asp-items="ViewBag.IdContrato">
                    <option value="" disabled selected>Selecione...</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label">Talhão</label>
                <select asp-for="IdTalhao" id="IdTalAp" class="form-select form-select-sm">
                    <option value="" disabled selected>Selecione...</option>
                </select>
            </div>            
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Salvar</button>
                <a class="btn btn-outline-secondary btn-sm" asp-action="Index"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}