<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EstimativaColheita</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EstimativaColheita.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Página inicial</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownCAD" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastros</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCAD">
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="Contrato" asp-action="Index">Contratos</a><li>
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="Talhao" asp-action="Index">Talhões</a><li>
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="Variedade" asp-action="Index">Variedades</a><li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="FiscalCampo" asp-action="Index">Coordenadores/Supervisores</a><li>
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="Encarregado" asp-action="Index">Encarregados</a><li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownCOL" role="button" data-bs-toggle="dropdown" aria-expanded="false">Colheitas</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCOL">
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="ColheitaRealizada" asp-action="Index">Apontamento</a><li>
                                <li><a class="dropdown-item text-light" asp-area="" asp-controller="EstimativaColheita" asp-action="Index">Estimativa</a><li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Todos os direitos reservados - Natan Piassi Magusso |
            <a asp-area="" asp-controller="Home" asp-action="Information">Sobre</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
