.card {
    border-color: #69757D !important;
    border-radius: 0px;
}

.header-card {
    color: #FFFFFF !important;
    background-color: #273191 !important;
    font-size: 16px;
    padding: 4px;
}

.body-card {
    background-color: #F7F7F7 !important;
    font-size: 16px;
    padding: 12px;
}

.body-card-create {
    background-color: #FFFFFF !important;
    font-size: 16px;
    padding: 16px;
}

.footer-card-bottons-details {
    background-color: #F7F7F7 !important;
    font-size: 16px;
    padding: 10px 16px 10px 16px;
    border-top: 1px solid #D8D8D8;
}

.footer-card-pagination {
    background-color: #F7F7F7 !important;
    font-size: 16px;
    padding: 10px 16px 0px 16px;
    border-top: 1px solid #D8D8D8;
}