html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.black {
    color: black !important;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.blue {
    color: blue !important;
}

.primary {
    color: #0074d9 !important;
}