html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}


.black {
    color: black !important;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}
.blue {
    color: blue !important;
}
.orange {
    color: orangered !important;
}
.primary {
    color: #0070FC !important;
}
.secondary {
    color: #69757D !important
}


.tableFixHead {
    overflow: auto;
    height: 307px;
    /*border-top: 1px solid #69757D;
    border-bottom: 1px solid #69757D;*/
    border-top: 1px solid #D8D8D8;
    border-bottom: 0px solid #D8D8D8;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}
.tableFixHead tbody tr:nth-child(even) {
    background-color: white;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
th, td {
    padding: 5px 16px;
    letter-spacing: 0px;
}
th {
    /*background-color: #F1F1F1;*/
    background-color: #F7F7F7;
    color: black;
    font-weight: 500;
}
th:after, th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}
th:before {
    top: -1px;
    border-top: 1px solid #D8D8D8;
}
th:after {
    bottom: -1px;
    border-bottom: 1px solid #D8D8D8;
}