@model EstimativaColheita.Models.FiscalCampoModel

@{
    ViewData["Title"] = "Coordenadores";
}

<div class="card">
    <div class="header-card">
        @if (Model.Id == 0) { <text>&nbsp;&nbsp;Adicionar coordenador</text> } 
        else { <text>&nbsp;&nbsp;Editar coordenador</text> }
    </div>
    <div class="body-card-create">
        <form id="frmCoordenador" class="row g-3 needs-validation" novalidate asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="col-md-2">
                <label class="form-label">Código</label>
                @if (Model.Id == 0)
                {
                    <input asp-for="CodigoInterno" type="number" min='1' class="form-control form-control-sm" required autofocus />
                    <div class="invalid-feedback">Código inválido.</div>
                } 
                else
                {
                    <input asp-for="CodigoInterno" type="number" class="form-control form-control-sm" readonly />
                }                
            </div>
            <div class="col-md-7">
                <label class="form-label">Nome</label>
                <input asp-for="Nome" type="text" class="form-control form-control-sm" required autofocus />
                <div class="invalid-feedback">Informe o nome.</div>
            </div>
            <div class="col-md-3">
                <label class="form-label">Apelido</label>
                <input asp-for="Apelido" type="text" class="form-control form-control-sm" required />
                <div class="invalid-feedback">Informe o apelido.</div>
            </div>
        </form>
    </div>
    <div class="footer-card-bottons-details">
        <div class="col-md-12">
            <button form="frmCoordenador" type="submit" class="btn btn-orange btn-sm"><i class="fa-solid fa-square-check"></i>&nbsp;Salvar</button>
            <a class="btn btn-outline-transparent btn-sm" asp-action="Index"><i class="fa-solid fa-ban"></i>&nbsp;Cancelar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


