@model EstimativaColheita.Models.FiscalCampoModel

@{
    ViewData["Title"] = "Coordenadores/Supervisores";
}

<div class="card">
    <div class="card-header">
        @if (Model.Id == 0) { <text>Adicionar registro</text> } 
        else { <text>Editar registro</text> }
    </div>
    <div class="card-body">
        <form asp-action="CreateOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="CodigoInterno" class="control-label"></label>
                <input asp-for="CodigoInterno" class="form-control" />
                <span asp-validation-for="CodigoInterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apelido" class="control-label"></label>
                <input asp-for="Apelido" class="form-control" />
                <span asp-validation-for="Apelido" class="text-danger"></span>
            </div>
            <hr />
            <div class="btn-group">
                <input class="btn btn-outline-success btn-sm" type="submit" value="Salvar" />
                <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="card-footer"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


