@using EstimativaColheita.ViewModel
@model EstimativaColheitaViewModel

@{
    ViewData["Title"] = "Estimativas";
}

<div class="card">
    <div class="header-card">
        &nbsp;&nbsp;Lista de estimativa de colheita
    </div>
    <div class="body-card">
        <div class="d-flex bd-highlight">
            <div class="p-0 flex-fill bd-highlight">
                <a class="btn btn-orange btn-sm" asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp;Novo registro</a>
                <a class="btn btn-orange btn-sm" asp-area="" asp-controller="EstimativaMotivo" asp-action="Index"><i class="fa-solid fa-list"></i>&nbsp;Motivos estimativa</a>
                <a class="btn btn-orange btn-sm" asp-area="" asp-controller="EstimativaColheita" asp-action="Index"><i class="fa-solid fa-arrows-rotate"></i>&nbsp;Todos registros</a>
            </div>
            <div class="p-0 flex-fill bd-highlight">
                <select id="IdConFiltro" class="form-select form-select-sm" asp-items="ViewBag.IdContrato">
                    <option value="" disabled selected>Selecione o contrato...</option>
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="p-0 d-flex flex-row-reverse bd-highlight">
                <select id="IdTalFiltro" class="form-select form-select-sm">
                    <option value="" disabled selected>Selecione o talhão...</option>
                </select>
            </div>
        </div>
    </div>

    <div id="estimativas">
        <partial name="List" model="Model.Estimativas"/>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}